<div id="container">

    <section id="intro">

        <header>
            <a href="/">
                <img src="https://image.flaticon.com/icons/svg/372/372613.svg" alt="Imagem da Logomarca" width=""
                    height="64">
            </a>

            <nav>
                <li><a href="#" onclick="login()">Entrar</a></li>
                <li><a href="#" class="button" onclick="register()">Cadastrar-se</a></li>
            </nav>
        </header>

        <main>
            <p>
                Durante o período de quarentena, muitos de nós somos impossibilitados de
                frequentar academias e nos exercitar com o auxílio de equipamentos.
            </p>

            <p>
                Nessas condições é importante manter o hábito de se exercitar (mesmo dentro de casa) e evitar o
                sedentarismo.
                Para ajudar a manter sua saúde em dia criamos o <strong>HomeGym</strong>.
            </p>
            <p>
                O <strong>HomeGym</strong> é uma plataforma que conecta usuários à personal trainers e profissionais
                da área da saúde
                que oferecem auxílio e orientação na execução de exercícios físicos e na alimentação com
                atendimento exclusivo personalizado de acordo com as necessidades do usuário.
            </p>

            <p>
                Encontre nutricionistas que te auxiliarão em sua alimentação
                de maneira totalmente online.
            </p>

            <p>
                Encontre personal trainers que te auxiliarão em seus treinos
                de maneira totalmente online.
            </p>

            <p>
                Crie seu cadastro, explore nosso catálogo e receba orientação dos nossos profissionais.
            </p>
        </main>

        <section id="buttons">
            <a href="#" class="button">saiba mais</a>
        </section>

        <footer>
            &copy; <a href="https://github.com/alemon-ice" target="_blank">Rafael Dias</a> 2020
        </footer>

    </section>

</div>